<!DOCTYPE html>
<html>
  <head>
    <title>Domestic Abuse</title>

  </head>
  <body>
    <h1>Domestic Abuse</h1>

    <h2> Why should you learn about it? </h2>
    <a href="/cycles/1">Cycle of Abuse</a>
  </body>
</html>
