
<div class="header">
  <h1>Domestic Abuse</h1>


</div>
      <div class=nav>
        <div id="wheel-link">
          <%= link_to image_tag('wheel_text_logo.png'), stages_path, :title => "Learn About the Cycle of Abuse" %>
        </div>

        <div id="bfly-icon">
          <%= link_to butterflies_path(@butterflies) do %>
            <%= image_tag ('butterfly-sm.png'), :title => "Visit Butterfly Gallery" %>
          <% end %>

        </div>
</div>

<section id="landing-words">
  <h2> Why should you learn about it? </h2>
  <p> Contrary to popular belief, domestic violence occurs across all socioeconomic and cultural backgrounds. </p>

        <p> It has no boundaries and exists among dating relationships, same-sex relationships, and older victims.</p>
        <p> It also impacts the lives of children, people with disabilities, and immigrants.</p>


          <%= image_tag ('ribbon-xsm.png') %>


</section>

<div id="footer">
  Domestic Abuse Awareness, © 2015
</div>
