<!DOCTYPE html>
<html>
  <head>
    <title>Domestic Abuse</title>

  </head>
  <body>
    <h1>Domestic Abuse</h1>

    <h2> Why should you learn about it? </h2>


    <%= link_to "Cycle of Abuse", stages_path() %>


  </body>
</html>
