<h1>Butterflies</h1>

<ul>
  <% @butterflies.each do |butterfly| %>

  <li><%= link_to butterfly.title, butterfly_path(butterfly) %></li>
  <%= image_tag butterfly.image_url(:thumb).to_s %>
  <% end %>
</ul>


<li><%= link_to "Create butterfly", new_butterfly_path %></li>
