<h1>Butterflies</h1>

<%= button_to "Create your butterfly", new_butterfly_path, :method => :get %>



<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="636px" height="550px" viewBox="0 0 636 550" enable-background="new 0 0 636 550" xml:space="preserve">


  <path d="M300.363 229.3 c0 0-33.363-92.308-108.594-147.055C140.851 45.2 58.5 40.7 49.7 61.571s18.877 38.5 19.7 43.1 C73 124 79.9 119.3 82.7 126.334c3.79 9.765-1.621 18.2 0.7 23c11.333 23.7 5.4 13.2 4.3 32 C87.513 184.1 88 212.7 100.8 234.1c9.058 15.1 19.9 21.1 58.9 18.9c4.13-0.229-14.157 6.019-29.702 13.3 c-13.406 6.309-19.621 8.643-24.144 13.821s1.311 6.508-1.19 13.179c-1.66 4.429-8.195 7.683-6.333 13.7 c1.632 5.2 11.3 8.7 6.6 23.802c-4.124 13.2 9.9 14.8 9 20.95c-5.334 35 5.4 15.2 8.7 40.2 c1.85 13.878-8.083 28.8 16.7 31.333c6.184 0.6 12.6 19.3 12.6 19.261S177 454 188.3 453.3 c8.724-0.514 27.761-6.545 53.333-28.333c9.323-7.943 17.744-21.18 29.025-36.055c23.975-31.612 32.133-46.975 32.133-46.975 s4.509 32.4 11.2 1.695c1.104-5.079-0.666-3.333 7 8.334c5.27 8 16 24.2 25.5 34.7 c17.243 19.1 24.1 53.7 89 65.684c6.322 1.2 14.23-7.94 31.868-9.64c4.017-0.387 4.37-8.672 10.104-16.041 c4.539-5.833 14.395-10.431 18.467-14.729c2.784-2.938-0.027-15.361 2.033-24.271s8-11.75 7.857-18.585 c-0.36-17.262 1.803-21.83 7.893-35.415c3.25-7.25-4.75-9.75 1.947-22.23c5.697-10.617 4.188-18.218-1.197-21.27 c-7.5-4.25-0.5-9.25-5.346-13.195c-25.618-20.858-34.404-11.805-31.869-17.78c2.146-5.058 58.7 7.8 65.935-53.846 c2.479-21.166 5.912-23.297 4.113-34.095c-1.284-7.706 10.479-14.675 10.517-21.432c0.036-6.756 2.056-16.73 6.15-19.152 c13.667-8.083 7.14-21.793 11.507-26.033C602 79 594.5 49.2 567.6 50.191c-111.863 4.326-172.928 58.477-209.927 113.5 C318.489 221.9 320.6 231 320.6 231S314 196 300.4 229.308z" class="butterfly style0"/>
  <polyline  points="341,142 334,160.5 324.5,179.5 316.5,199 313.1,215.3" class="style1"/>
  <polyline points="292.5,136.5 292.5,147.5 296.5,165.5 300,183 304,200.5 308.7,215" class="style1"/>
  </svg>





<ul>
  <% @butterflies.each do |butterfly| %>
  <li><%= link_to butterfly.image %>

  <% end %>
</ul>
