
<div class="text-link">
<%= link_to "Butterfly Gallery", butterflies_path(@butterflies) %>
</div>

<h1>Create a Butterfly</h1>
<div class="blank">
</div>
<p> Express yourself by designing a butterfly, a symbol of freedom and hope, with your thoughts regarding domestic abuse ... </p>
<p>Right click to save your created image.  Then, if you want to submit it to include in the butterfly gallery, upload the file below.</p>
<canvas id="canvas" width="500" height="500"></canvas>

<button id="clearCanvas" type="button">Clear</button>

<li>
  <span class="highlight">Choose a color: </span>
  <button id="choosePurple">Purple</button>
  <button id="chooseGreen">Green</button>
  <button id="chooseYellow">Yellow</button>
  <button id="chooseBrown">Brown</button>
  <button id="chooseRed">Red</button>
  <button id="chooseBlack">Black</button>
</li>


<!-- <button id="convertCanvas" type="button">convert</button> -->

<!-- <li> Support awareness of abuse issues </li>
<li> Encourage victims to leave unhealthy relationships </li>
<li> Express pain that you or others have felt because of abuse </li>
<li> Let abusers know that their behavior in unacceptable </li>
<li> Let abusers know that they need to commit to getting real help to deal with their own tension in order to break the cycle.</li>
<li> Let victims know that they are not to blame.  It is not a weakness to seek help.  It takes courage to leave. <li> -->

<%= render partial: "form" %>
