<h1>Create a Butterfly</h1>
<p> Express yourself by designing a butterfly, a symbol of freedom and hope, with your thoughts regarding domestic abuse ... </p>


<div id="canvas-container">
  <canvas id="drawing1">
 </canvas>
 <div id="heart" class="draggable drag-drop">
   <%= image_tag "heart.svg" %>
 </div>
</div>



<!-- <li> Support awareness of abuse issues </li>
<li> Encourage victims to leave unhealthy relationships </li>
<li> Express pain that you or others have felt because of abuse </li>
<li> Let abusers know that their behavior in unacceptable </li>
<li> Let abusers know that they need to commit to getting real help to deal with their own tension in order to break the cycle.</li>
<li> Let victims know that they are not to blame.  It is not a weakness to seek help.  It takes courage to leave. <li>
 -->



<!-- <button id=click>Draw!</button> -->
