<div class="header" id="bfly-header">
  <h1>Create a Butterfly</h1>
  <p>Express yourself by designing a butterfly, a symbol of freedom and hope, with your thoughts regarding domestic abuse ...</p>


</div>
      <div class=nav>
        <div id="bfly-icon">
          <%= link_to butterflies_path(@butterflies) do %>
          <%= image_tag ('butterfly-sm.png'), :title => "Return to Butterfly Gallery" %>
          <% end %>
        </div>
        <div id= "instructions">
          <p>Right click on created image to save.</p>
          <p id="little-instruction">Then, if you want to submit it to include in the butterfly gallery, upload the file below.</p>
        </div>
</div>

  <canvas id="canvas" width="600" height="500"></canvas>

  <div id="Tools">

    <li class="tools" id="size">
      <span class="highlight">Choose a brush size: </span>
      <button id="chooseExtraSmall">Extra Small</button>
      <button id="chooseSmall">Small</button>
      <button id="chooseMedium">Medium</button>
      <button id="chooseLarge">Large</button>
      <button id="chooseHuge">Huge</button>
    </li>

    <li class="tools" id="colors">
      <span>Choose a color: </span>
      <button id="choosePurple">Purple</button>
      <button id="chooseGreen">Green</button>
      <button id="chooseYellow">Yellow</button>
      <button id="chooseBrown">Brown</button>
      <button id="chooseRed">Red</button>
      <button id="chooseBlue">Blue</button>
      <button id="chooseBlack">Black</button>
      <button id="chooseEraser">Eraser</button>
    </li>
</div>

<div id="submit-form">
  <%= render partial: "form" %>
</dil>
