
<div class="text-link">
<%= link_to "Butterfly Gallery", butterflies_path(@butterflies) %>
</div>

<h1>Create a Butterfly</h1>
<div class="blank">
</div>
<p> Express yourself by designing a butterfly, a symbol of freedom and hope, with your thoughts regarding domestic abuse ... </p>

<canvas id="canvas" width="500" height="500"></canvas>

<button id="clearCanvas" type="button">Clear</button>
<button id="saveCanvas" type="button">Save</button>


<%= render partial: "form" %>

<li> Support awareness of abuse issues </li>
<li> Encourage victims to leave unhealthy relationships </li>
<li> Express pain that you or others have felt because of abuse </li>
<li> Let abusers know that their behavior in unacceptable </li>
<li> Let abusers know that they need to commit to getting real help to deal with their own tension in order to break the cycle.</li>
<li> Let victims know that they are not to blame.  It is not a weakness to seek help.  It takes courage to leave. <li>


<%= render partial: "form" %>
