<div id="header">

  <div id="wheel-link">
    <%= link_to image_tag('wheel_text_logo.png'), stages_path %>
  </div>

  <h1>Domestic Abuse</h1>

  <div id="ribbon">
    <%= link_to root_path do %>
    <%= image_tag ('ribbon-xsm.png') %>
    <% end %>
  </div>
</div>


<h1><%= @butterfly.name %></h1>
