<div class="header">
  <container class="nav">

    <div id="home">
      <%= link_to root_path do %>
        <%= image_tag ('home_opt.svg'), :id => "house", :title => "Domestic Abuse Awareness Homepage" %>
      <% end %>
    </div>

    <div id="bfly-icon">
      <%= link_to butterflies_path(@butterflies) do %>
        <%= image_tag ('butterfly-sm.png'), :title => "Go to Butterfly Gallery" %>
      <% end %>
    </div>
  </container>

  <h1> Stages of Abuse </h1>
</div>

</div>

<div class="cycle-view">
  <h1 id="wheel-title">Cycle of Abuse</h1>

  <div id="notitle">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="612" height="603.37" viewBox="0 0 612 603.37" enable-background="new 0 0 612 603.372" xml:space="preserve">
      <g id="Layer_1">
        <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="298.35" y1="297.88" x2="298.35" y2="547.88"/>
        <line fill="none" stroke="#000000" stroke-width="3" stroke-miterlimit="10" x1="514.86" y1="172.88" x2="298.35" y2="297.88"/>
        <path id="explosive" fill="#C48A9A" stroke="#000000" stroke-width="3" stroke-miterlimit="10" d="M298.35 297.88L298.35 297.88 82.38 173.19c-21.22 36.68-33.38 79.27-33.38 124.69 0 137.71 111.64 249.35 249.35 249.35h0L298.35 297.88z"/>
        <path id="tension" fill="#D7D494" stroke="#000000" stroke-width="3" stroke-miterlimit="10" d="M298 297.88L298 297.88l215.98-124.69c21.22 36.68 33.38 79.27 33.38 124.69 0 137.71-111.64 249.35-249.35 249.35h0L298 297.88z"/>
        <path id="honeymoon" fill="#75A9C6" stroke="#000000" stroke-width="3" stroke-miterlimit="10" d="M297.98 298.34L297.98 298.34l215.98-124.69c-21.15-36.72-51.96-68.54-91.3-91.25C303.4 13.54 150.9 54.41 82.04 173.67l0 0L297.98 298.34z"/>
      </g>
      <g id="Layer_2">
        <circle id="rotate" fill="#EAE6DA" stroke="#000000" stroke-width="4" stroke-miterlimit="10" cx="298.35" cy="297.88" r="150.14"/>
      </g>
      <g id="text">
        <rect x="196" y="75" fill="none" width="292" height="91"/>
        <text id="hm-text" transform="matrix(1 0 0 1 196 117.5669)" font-family="'SignPainter', 'Rouge Script', cursive" font-size="60">
          Honeymoon
        </text>
        <rect  x="332" y="350" transform="matrix(-0.5 0.866 -0.866 -0.5 1003.5374 207.6063)" fill="none" width="219.67" height="87"/>
        <text id="tension-text" transform="matrix(-0.6691 0.7431 -0.7431 -0.6691 497.0332 300.0059)">
          <tspan x="0" y="0" font-family="'BirchStd'" font-size="60" letter-spacing="12">
            T
          </tspan>
          <tspan x="31.04" y="-6.26" font-family="'BirchStd'" font-size="60" letter-spacing="12">
            e
          </tspan>
          <tspan x="58.93" y="-12.4" font-family="'BirchStd'" font-size="60" letter-spacing="12">
            n
          </tspan>
          <tspan x="88.9" y="-18.34" font-family="'BirchStd'" font-size="60" letter-spacing="12">
            s
          </tspan>
          <tspan x="114.99" y="-23.34" font-family="'BirchStd'" font-size="60" letter-spacing="12">
          i
          </tspan>
          <tspan x="135.86" y="-28.63" font-family="'BirchStd'" font-size="60" letter-spacing="12">
            o
          </tspan>
          <tspan x="164.63" y="-34.87" font-family="'BirchStd'" font-size="60" letter-spacing="12">
            n
          </tspan>
        </text>
        <rect x="13.91" y="304.1" transform="matrix(-0.5 -0.866 0.866 -0.5 -69.5502 680.5234)" fill="none" width="295.53" height="112.48"/>
        <text class="explosive-text" transform="matrix(-0.5878 -0.809 0.9223 -0.6701 228.7197 485.1162)" font-family="'Herculanum'" font-size="59" letter-spacing="1">
          E
        </text>
        <text class="explosive-text" transform="matrix(-0.5878 -0.809 0.8333 -0.6054 202.0869 460.7188)" font-family="'Herculanum'" font-size="48" letter-spacing="1">
          x
        </text>
        <text class="explosive-text" transform="matrix(-0.5878 -0.809 0.8333 -0.6054 175.2285 434.7549)" font-family="'Herculanum'" font-size="48">
          p
        </text>
        <text class="explosive-text" transform="matrix(-0.6157 -0.788 0.788 -0.6157 160.2988 408.96)" font-family="'Herculanum'" font-size="36" letter-spacing="3">
          l
        </text>
        <text class="explosive-text" transform="matrix(-0.6157 -0.788 0.788 -0.6157 149.3052 389.3623)" font-family="'Herculanum'" font-size="36">
          o
        </text>
        <text class="explosive-text" transform="matrix(-0.6157 -0.788 0.788 -0.6157 135.4062 366.3096)" font-family="'Herculanum'" font-size="40">
          s
        </text>
        <text class="explosive-text" transform="matrix(-0.3907 -0.9205 0.9205 -0.3907 125.5918 353.3994)" font-family="'Herculanum'" font-size="48" letter-spacing="6">
          i
        </text>
        <text class="explosive-text" transform="matrix(-0.3256 -0.9455 0.9455 -0.3256 120.3428 329.7197)" font-family="'Herculanum'" font-size="42" letter-spacing="7">
          v
        </text>
        <text class="explosive-text" transform="matrix(-0.3907 -0.9205 1.0126 -0.4298 105.0249 298.6689)" font-family="'Herculanum'" font-size="48" letter-spacing="7">
          e
          </text>
        </g>
        <g id="arrows-set">
        	<path d="M424.515 266.4 c-1.915-23.513-9.941-51.913-47.614-72.78l-7.594 6.877c26.101 11.8 44.9 36.2 47.3 66.957l-12.812-5.934l19.472 31.2 l10.456-34.919L424.515 266.427z" class="arrows"/>
        	<path d="M261.882 420 c21.189 10.4 49.7 18 86.889-3.773l-2.032-10.044c-23.45 16.429-54.095 20.139-81.717 6.473l11.632-7.987l-36.744 0.8 l24.675 26.828L261.882 419.964z" class="arrows"/>
        	<path d="M203.63 208.3 c-18.916 14.091-38.73 35.958-36.448 78.96l9.859 2.799c-3.859-28.369 6.883-57.311 31.685-75.602l1.763 13.997l16.114-33.038 l-35.162 9.649L203.63 208.256z" class="arrows"/>
        </g>
      </svg>
    </div>
    <container >
      <div id="turn">Click to Turn Wheel</div>
    </container>
  </div>

</div>

<div id="footer">
  Domestic Abuse Awareness, © 2015
</div>
