#butterfly{

}
#blue{
  height: 50px;
  width: 50px;
  border: 1px black solid;
  border-radius: 25px;
  background-color: blue;

}

#heart{
  background-image: url("../../assets/images/heart.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}
/*
.star{
  rotate: (10deg);
}

#star-five{
   margin: 50px 0;
   position: relative;
   display: block;
   color: blue;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid blue;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid blue;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: blue;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid blue;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

*/



.draggable{
  height: 50px;
}

.dropzone {
  border: 2px black;
}


.drop-active {
  border: 3px solid;
  border-color: yellow;
}


.drop-target {
  border-color: green;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  color: #fff;
  /*border: solid 2px black;*/

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.drag-drop.can-drop {

}
