



.draggable{
  height: 50px;
}

.dropzone {
  border: 2px black;
}


.drop-active {
  border: 3px solid;
  border-color: yellow;
}


.drop-target {
  border-color: green;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  color: #fff;
  /*border: solid 2px black;*/

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.drag-drop.can-drop {

}
