.piece {
  position:absolute;
  width:300px;
  height:600px;
  overflow:hidden;
  left:450px;
  top:100px;
  transform-origin: left center;
}

.piece::BEFORE {
  content:"";
  position: absolute;
  width: 300px;
  height:600px;
  transform-origin: left center;
  border-radius:0 600px 600px 0;
}


.piece:nth-of-type(1):BEFORE{
  background: linear-gradient(240deg, yellow 15%, tan 60%);
  color: black;
}

.piece:nth-of-type(2):BEFORE{
  background: linear-gradient(240deg, red 15%, crimson 60%);
}

.piece:nth-of-type(3):BEFORE{
  background: linear-gradient(240deg, blue 15%, lightblue 60%);
}

.piece[data-start="0"] {
  -webkit-transform: rotate(0deg);
  transform:rotate(0deg);
}

.piece[data-start="120"] {
  -webkit-transform: rotate(241deg);
  transform:rotate(121deg);
}

.piece[data-start="240"] {
  -webkit-transform: rotate(241deg);
}

.piece[data-value="60"]:BEFORE {
  -webkit-transform: rotate(59deg);
  transform:rotate(59deg);
}
