<!DOCTYPE html>
<html>
  <head>
    <title>Butterfly</title>

    <link href="../assets/stylesheets/dropDesign.css" rel="stylesheet">
    <script src="../../vendor/assets/javascripts/jquery-2.1.4.min.js"></script>
    <script src="../../vendor/assets/javascripts/interact.min.js"></script>
    <script src="../assets/javascripts/dropDesign.js"></script>

  </head>
  <body>
    <div class="container_dragging">

     <div id="board" class="dropzone">
       <img src="../assets/images/butterfly.svg" alt="butterfly">
     </div>

     <div id="red" class="draggable drag-drop">

     </div>

     <div id="blue" class="draggable drag-drop">

     </div>
    </div>



   </div>


  </body>
</html>
