<!DOCTYPE html>
<html>
  <head>
    <title>Butterfly</title>

    <link href="../assets/stylesheets/dropDesign.css" rel="stylesheet">
    <script src="../../vendor/assets/javascripts/jquery-2.1.4.min.js"></script>
    <script src="../../vendor/assets/javascripts/interact.min.js"></script>
    <script src="../assets/javascripts/dropDesign.js"></script>

  </head>
  <body>
    <div class="container_dragging">

       <object id="butterfly" class="dropzone" type="image/svg+xml" data="../assets/images/opt_butterfly.svg">Your browser does not support SVG</object>

         <div id="star-five" class="draggable drag-drop star">
         </div>


    <div id="blue" class="draggable drag-drop">
    </div>


    </div>



   </div>


  </body>
</html>
