<!DOCTYPE html>
<html>
  <head>
    <title>Domestic Abuse</title>

  </head>
  <body>
    <div class="container_dragging">

     <div id="square" class="dropzone">

     </div>

     <div id="red" class="draggable drag-drop">

     </div>

     <div id="blue" class="draggable drag-drop">

     </div>
    </div>



   </div>


  </body>
</html>
